@import '../../common/variables.css';

.item {
  text-align: center;
  background: black;
  position: relative;
  cursor: pointer;
  margin-bottom: 1rem;
  &:hover {
    .thumb {
      opacity: 0.25;
      background-position-y: 50.5%;
    }
    .text {
      transform: scale(1.02);
    }
  }
}
.thumb {
  composes: bgImgCenter from '../../common/composes.css';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.45;
  transition: background 0.2s ease-out, opacity 0.15s ease-out;
}
.text {
  display: inline-block;
  padding: 6rem 0 4.75rem;
  position: relative;
  z-index: 2;
  transition: transform 0.15s ease-out;
  h3, a {
    color: white;
  }
  h3 {
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.75;
  }
}
.bi {
  margin-bottom: 1.25rem;
}
.tags {
  composes: tag from '../../common/composes.css';
  margin-top: 1.5rem;
  font-size: 0.75rem;
  li {
    color: white;
    opacity: 0.75;
    &:hover {
      opacity: 0.9;
    }
  }
}
.link {
  letter-spacing: 0;
  font-weight: 500;
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
  border: 2px solid;
  display: inline-block;
  display: none;
}
