@import '../../common/variables.css';

.maxWidth {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}
.innerPadding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.header {
  background: black;
  position: relative;
}
.headerBg {
  composes: bgImgCenter from '../../common/composes.css';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.45;
}
.container {
  composes: maxWidth;
  composes: innerPadding;
  height: 20rem;
  padding-bottom: 3rem;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: white;
}

.type {
  letter-spacing: 0;
  font-weight: 200;
  font-size: 0.875rem;
  opacity: 0.3;
}
.title {
  h1, h2 {
    font-weight: 100;
  }
  h1 {
    font-size: 2.5rem;
    margin: 1.25rem 0 1rem;
  }
  h2 {
    font-size: 1rem;
    opacity: 0.75;
  }
}

.tags {
  composes: tag from '../../common/composes.css';
  margin-top: 1.5rem;
  li {
    font-size: 0.5rem;
    &:first-child {
      margin-left: 0;
    }
  }
}
.info {
  p {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    line-height: 1.5;
    margin-top: 0.5rem;
    opacity: 0.75;
    font-weight: 300;
    &:before {
      content: '';
      width: 0.75rem;
      height: 0.75rem;
      margin-right: 0.25rem;
      border-radius: 50%;
      background: white;
    }
  }
}
.date {
  font-weight: 100;
  letter-spacing: 0;
}
.belongTo {
  letter-spacing: 0;
}
.linkToWork {
  composes: ellipsis from '../../common/composes.css';
  display: inline-block;
  letter-spacing: 0;
  max-width: 8rem;
  font-size: 0.625rem;
  &:hover, &:active {
    box-shadow: inset 0 -1px;
  }
}

.nav {
  display: none;
}

.body {
  margin: 2.5rem 0;
}
.section {
  composes: maxWidth;
  composes: innerPadding;
  h3, p, img {
    line-height: 1.75;
    margin-bottom: 1.25rem;
  }
  h3 {
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 2.25rem;
  }
  p {
    font-weight: 300;
    font-size: 1rem;
  }
  img {
    width: 100%;
  }
}
.link {
  box-shadow: inset 0 -3px var(--chrm-blue);
  transition: box-shadow 0.2s ease-out;
  &:hover {
    box-shadow: inset 0 -6px var(--chrm-blue);
  }
}
.largeImg {
  width: 100%;
  line-height: 1.75;
  margin-bottom: 1.25rem;
}
