@import './common/reset.css';

.App {
  text-align: center;
}

.header {
  background-color: #ecda56;
  padding: 40px 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding: 40px 20px;
}
