@import './common/reset.css';
@import './common/variables.css';

.introPhrase {
  text-align: center;
  margin-bottom: 3.5rem;
  color: var(--gray-dark);
  font-size: 1rem;
  font-weight: 200;
  b {
    color: var(--chrm-blue);
    font-weight: 400;
  }
}
