/*==================== RESET ====================*/
@charset "UTF-8";
@import url(//cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url('//fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,700,800,900');

*, :before, :after {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-tap-highlight-color: rgba(black, 0.02);
  font-size: 16px;
}
body {
	color: var(--coal);
}
article, aside, footer, header, nav, section,
figcaption, figure, main
details, menu, hgroup, summary {
	display: block;
}
body, section, div, ul, li,
h1, h2, h3, h4, h5, h6, p, pre,
table, td, th, tr,
input, button, select, textarea, label, optgroup {
  font-family: 'Montserrat', 'Noto Sans Korean', 'Malgun Gothic', 'Dotum', Arial, sans-serif;
	font-weight: normal;
	line-height: 1;
	zoom: 1;
	outline: 0 !important;
	margin: 0;
	padding: 0;
	letter-spacing: -0.03em;
}
ul {
	list-style: none;
}
table, td, th, tr {
	border-collapse: collapse;
}
a {
	color: inherit;
	cursor: pointer;
	&, &:link, &:hover, &:active, &:focus {
		text-decoration: none;
    outline-width: 0;
	}
}
img {
  border: none;
}

/* FXCK iOS TOO */
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
