@import '../../common/variables.css';

.nav {
  width: calc( 100vw / 3 );
  padding: 2.25rem;
  a {
    letter-spacing: 0;
    display: block;
  }
}
.toHome {
  color: var(--chrm-blue);
  font-size: 2.25rem;
  font-weight: 200;
  margin-bottom: 2rem;
  margin-left: -4px;
}
.toAbout, .toWorks {
  font-size: 1.125rem;
  color: var(--gray-dark);
  font-weight: 200;
  margin-bottom: 1rem;
}
