@import '../../common/variables.css';

.navText {
  letter-spacing: 0;
  font-weight: 200;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 3.5rem;
}
.toHome {
  composes: navText;
  background: var(--chrm-blue);
  display: flex;
  width: 5.25rem;
  height: 5.25rem;
  align-items: center;
  margin: 0 2rem;
  color: white;
  font-size: 1.75rem;
  text-align: center;
  white-space: pre-line;
}
.toAbout, .toWorks {
  composes: navText;
  color: var(--gray-dark);
  font-size: 1.125rem;
}
